<% include ./partials/header.ejs %>
<div class="fixedhead">
    <nav>
    <div class="name"><h1>Fit-bot</h1></div>
      <div class="instructions"> 
      </div>
    </nav>
    <section class="userinput">        
        <input type="text" id="user-input" placeholder="Enter message..." onkeydown="verifyEnter(event)" />
        <button onclick="sendMessage()">Send</button>
    </section>
    </div>
    
    <section class="chathistory">
    <div id="chat-container"></div>
    </section>
    <footer>
      <div>
        f <a href="http://www.vivacitydesign.net" target="_blank">
    </div> 
        <a href="http://www.vivacitydesign.net/vdgpt/index.html" target="_blank"></a> 
    </footer>
    <script>
    
    </script>
<% include ./partials/footer.ejs %>