<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/homepage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>FIT-FAM</title>
</head>
<body>
    <div class="main">
        <div class="section1">
            <div class="header">
                <a href="#"><div class="logo">Fit-Fam</div></a>
                <div class="nav-btn">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="fit-bot">Virtual Coach</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Blogs</a></li>
                        <li><a href="#"><span class="acc">Account </span></a></li>
                    </ul>
                </div>
            </div>
            <div class="hero-main">
                <div class="hero-contents">

                    <div class="hero-img">
                    <p class="brandName">FIT-FAM!</p>
                    </div>
                    <div class="hero-text"><p>
                        Welcome to our fitness website, where we're dedicated to helping you achieve your health and wellness goals! Our platform offers a wide range of resources, from workout plans and nutrition guides to expert advice on staying motivated and overcoming obstacles.            
                        But that's not all – we've also integrated a helpful chatbot feature to provide personalized support whenever you need it.</p>
                    </div>
                </div>
            </div>
        </div>
    </div> 
 
    <footer class="footer">
        <div class="waves">
          <div class="wave" id="wave1"></div>
          <div class="wave" id="wave2"></div>
          <div class="wave" id="wave3"></div>
          <div class="wave" id="wave4"></div>
        </div>
        <ul class="social-icon">
          <li class="social-icon__item"><a class="social-icon__link" href="#">
            <i class="fa-brands fa-square-facebook"></i>
            </a></li>
          <li class="social-icon__item"><a class="social-icon__link" href="#">
            <i class="fa-brands fa-linkedin"></i>
            </a></li>
          <li class="social-icon__item"><a class="social-icon__link" href="#">
            <i class="fa-brands fa-instagram"></i>
            </a></li>
          <li class="social-icon__item"><a class="social-icon__link" href="#">
            <i class="fa-brands fa-twitter"></i>
            </a></li>
        </ul>
        <ul class="menu">
          <li class="menu__item"><a class="menu__link" href="#">Home</a></li>
          <li class="menu__item"><a class="menu__link" href="#">About</a></li>
          <li class="menu__item"><a class="menu__link" href="#">Account</a></li>
          <li class="menu__item"><a class="menu__link" href="#">Blogs</a></li>
          <li class="menu__item"><a class="menu__link" href="#">Contact us</a></li>
    
        </ul>
        <p>&copy;2024 TEAM SBRC Official | All Rights Reserved</p>
      </footer>

</body>
</html>